.ddsmoothmenu{
	
}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	height: 80px;
	padding: 0 38px 0 29px;
	line-height: 90px;
	margin: 0 5px 0 9px;
	font-size: 26px;
	color: #FFFFFF;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	font-family: Impact, Charcoal, sans-serif;
         width: 100%;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #ffe9bd;
	position: relative;
	background: url(../images/tooplate_menu_right.png) top right no-repeat
}
.ddsmoothmenu ul li a.selected span, .ddsmoothmenu ul li a:hover span { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	position: absolute;
	top: 0; left: -9px;
	width: 9px;
	height: 75px;
	background: url(../images/tooplate_menu_left.png) top right no-repeat
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
	position: absolute;
	width: 170px;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: black;  /*edw gia sub*/
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	font-weight: 500;
	width: 140px; /*width of sub menus*/
	height: 28px;
	line-height: 28px;
	padding: 5px 15px;
	margin: 0;
	font-size: 16px;
	text-align: left;
	background: none;
	color: #FFFFFF;
	border-bottom: 1px solid #58514a
}


.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover {
	color: #ffe9bd;
	width: 139px;
	padding-left: 16px;
	background: none;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.5;
}

/* menu */
