body {
	margin: 0;
	padding: 0;
	color: #52493a;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 13px;
background: url(../images/backgroundindex.gif);

}
#time{
  font-family: Impact, Charcoal, sans-serif;
	color: black;
	text-align: center;
	font-size: 30px;
}
#txt{
  font-family: Impact, Charcoal, sans-serif;
	color: black;
	text-align: center;
	font-size: 30px;
}
a, a:link, a:visited { 
	color: #852; 
	font-weight: normal; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

a.more { 
	display: inline-block; 
	padding-left: 14px; 
	font-weight: 700; 
	background: url(../images/tooplate_more.png) no-repeat 0 5px; 
}

p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}

img { border: none; }

blockquote { 
	font-style: italic; 
	margin: 0 0 0 10px;
}

cite { 
	font-weight: bold; 
	color:#d13535; 
}

cite a, cite a:link, cite a:visited  { 
	font-size: 12px; 
	text-decoration: none; 
	font-style: normal; 
}

cite span { 
	font-weight: 400; 
	color: #52493a; 
}

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 10px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }

.float_l { float: left }
.float_r { float: right }

.image_frame { 
	display: inline-block; 
	position: relative; 
	margin: 3px 0 10px 0; 
}

.image_frame img { 
	padding: 5px; 
	background: #eee9dd; 
}

.image_frame span { 
	position: absolute; 
	width: 75px; 
	height: 9px; 
	bottom: -9px; 
	right: 0; 
	background: url(../images/tooplate_image_s_bg.png) no-repeat; 
}

.image_fl { 
	float: left; 
	margin: 3px 20px 12px 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 12px 20px; 
}

.tooplate_list { 
	margin: 10px 0 10px 0; 
	padding: 0; 
	list-style: none; 
}

.tooplate_list li { 
	color:#52493a; 
	margin: 0 0 10px 0; 
	padding: 0 5px 0 20px; 
	background: url(../images/tooplate_list.png) no-repeat scroll 0 2px;  
}

.tooplate_list li a { 
	color: #52493a; 
	font-weight: normal; 
}

.tooplate_list li a:hover { 
	color: #52493a; 
}

#tooplate_top_wrapper {
	width: 100%;
	height: 80px;
	background: url(../images/tooplate_top.png) repeat-x top;	
}

#tooplate_top {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

#tooplate_header_wrapper {
	width: 100%;
	
}

#tooplate_header {
	width: 960px;
	padding: 0 10px 40px;
	margin: 0 auto;
	
}

#tooplate_main_wrapper {
	background: url(../images/tooplate_main.png) repeat-x top;
}

#tooplate_main {
	width: 960px;
	padding: 50px 10px 40px;
	margin: 0 auto;	
	background: url(../images/tooplate_main_top.jpg);
}

#tooplate_footer_wrapper {
	width: 100%;
	background: #322d24 url(../images/tooplate_footer.png) repeat-x top;
}

#tooplate_footer {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;	
}

#tooplate_menu {
	float: left;
	height: 80px;
}

#tooplate_search { 
	float: right; 
	margin-top: 28px; 
	width: 224px; 
	height: 20px; 
	padding: 4px; 
	background: url(../images/tooplate_search.png) no-repeat; 
}

#tooplate_search form {
	margin: 0;
	padding: 0;
}

#tooplate_search .txt_field {
	float: left;
	display: block;
	height: 20px;
	line-height: 20px;
	width: 180px;
	color: #bcb29c;
	font-size: 12px;
	padding: 0 5px;
	font-variant: normal;
	border: none;	
	background: none;
}

#tooplate_search .sub_btn {
	float: right;
	display: block;
 	height: 20px;
	width: 30px;
	cursor: pointer;
	border: none;
	background: none;	
}

#site_title { 
	margin: 0 auto; 
	padding: 40px 0; 
	background: url(../images/tooplate_header.png) bottom center no-repeat; 
}

#site_title h1 {
	padding: 0; 
	margin: 0;
}

#site_title h1 a { 
	padding: 0; 
	margin: 0 auto; 
	display: block; 
	width: 350px; 
	height: 82px; 
	text-indent: -10000px; 
	background:  url(../images/tooplate_logo.png) no-repeat center left; 
}

#slider_wrapper {
	width: 920px;
	height: 330px;
	padding: 10px;
	
	background: url(../images/slider_bg.png) no-repeat top center; 	
}

#content {
	float: left;
	width: 620px;
}

#content_top {
	padding: 20px 0 40px;
	margin-bottom: 40px;
	background: url(../images/content_top.png) center bottom no-repeat;
}

.col_2 { 
	width: 450px; 
}

.col_3 { 
	float: left; 
	width: 280px; 
	margin-right: 60px; 
}

.testimonial { 
	padding: 0 0 0 50px; 
	display: block; 
	background: url(../images/tooplate_testimonial.png) left top no-repeat; 
}

.post {
	margin-bottom: 40px;
}
.no_bottom { 
	margin-bottom: 0; 
	border: none; 
}

.post h2, .post h2 a { 
	color: #000; 
	margin-bottom: 15px; 
	font-size: 30px; 
	font-family: Impact, Charcoal, sans-serif;
}

.post .meta { 
	width: 600px; 
	height: 19px; 
	padding: 5px 10px;  
	font-size: 10px; 
	margin-bottom: 20px; 
	background:url(../images/post_meta.jpg) no-repeat; 
}

.post .no_background {
	width: 440px; 
	padding: 0; 
	background: none; 
}

.post .meta a, .post .meta strong { 
	color: #887722; 
	font-weight: 700; 
}

.post .meta .comment { 
	float: right; 
	padding-left: 30px; 
	background: url(../images/tooplate_comment.png) no-repeat scroll 0 2px; 
}

#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 588px;
}

.first_level {
	margin: 0; 
	padding: 0;
}

.comments {
	list-style: none; 
}

.comments li { 
	margin-bottom: 10px; 
	list-style:none; 
}

.comments li .commentbox1 { 
	border-top: 1px solid #c3baa5;  
	background: #b5ab94; 
}

.comments li .commentbox2 { 
	border-top: 1px solid #c3baa5;  
	background: #a69c85; 
}

.comments li .comment_box { 
	clear: both; 
	width:100%; 
	padding: 15px;  
}

.comment_box .gravatar { 
	float: right; 
	width: 75px; 
	margin-left: 30px;
}

.comment_box .gravatar img {  
	width: 75px; 
	height: 75px; 
}

.comment_box .comment_text {  }

.comment_box .comment_text p { 
	margin: 0; 
}

.comment_text .comment_author { 
	font-size: 14px; 
	font-weight: bold; 
	color: #d13535; 
	margin-bottom: 10px; 
}

.comment_text .date { 
	font-size: 12px; 
	font-weight: normal; 
	color: #000; 
	padding-left: 10px; 
}

.comment_text .time { 
	font-size: 12px; 
	font-weight: normal; 
	color: #000; 
	padding-left: 10px; 
}

#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px dotted #666;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

#comment_form form {
	padding: 20px;
	background-color: #ada38c;
	border: 1px solid #c4bba8;
}

#comment_form textarea {
	color: #e7e1d5;
	background:#978d75 none repeat fixed 0 0;
	border: 1px solid #8a8068;
	display:block;
	font-size:1.1em;
	height:150px;
	margin-top:5px;
	padding:5px;
	width: 360px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	margin-top: 5px;
	padding: 3px 0;
	width: 200px;
	color: #e7e1d5;
	background:#978d75 none repeat fixed 0 0;
	border: 1px solid #8a8068;
}

#comment_form .submit_btn {
	display: block; 
	width: 80px; 
	padding: 3px 8px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold;  
	background: #333333; 
	border: 1px solid #000; 
	color: #fff; 
	font-size:11px; 
	cursor: pointer; 
}

.rp_pp { 
	margin-bottom: 10px; 
	padding-bottom: 10px; 
	border-bottom: 1px dotted #1d1a14; 
}

.rp_pp a { 
	color: #d13535; 
	font-size: 11px; 
	font-weight: 700; 
}

.rp_pp p { 
	font-size: 10px; 
}

.gallery_box { 
	float: left; 
	width: 450px; 
	margin: 0 60px 60px 0; 
}

.gallery_box h5 { 
	font-weight: 700; 
	font-family: Georgia, "Times New Roman", Times, serif; 
	margin-bottom: 5px; 
}

.gallery_box a.link { 
	font-size: 11px; 
	font-weight: bold; 
	display: block; 
	margin-bottom: 15px; 
}

#contact_form { 
	padding: 0; 
	width: 592px; 
	margin-bottom: 40px; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field {
	width: 270px;
	padding: 8px;
	color: #fff;
	border: 1px solid #4F483E;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 12px;
	margin-top: 5px;
	background-color: #938a79;
}

#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 12px; 
	font-size: 13px; 
}

#contact_form form textarea {
	width: 580px;
	height: 200px;
	padding: 8px;
	color: #fff;
	border: 1px solid #4F483E;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 12px;
	margin-top: 5px;
	background-color: #938a79;
}

#contact_form form .submit_btn { 
	margin: 10px 0px;
	padding: 8px 16px;
	background: #938a79; 
	border: 1px solid #4F483E;
}

#sidebar {
	float: right;
	width: 280px;
}

.flickr_stream { 
	margin: 0; 
	padding:0; 
	list-style: none; 
}

.flickr_stream li { 
	float: left; 
	margin: 0 8px 8px 0; 
	padding: 0; 
}

.flickr_stream li img { 
	padding: 3px; 
	border: 1px solid #a49a83; 
	background: #fff; 
}

.col_4 { 
	float: left; 
	width: 215px; 
	margin-right: 20px; 
}

a.goto_top { 
	display: block; 
	width: 44px; 
	height: 45px; 
	margin: 0 auto 30px; 
	background: url(../images/tooplate_goto_top.png) no-repeat top center;  
}

#tooplate_footer h5 { 
	color: #aa8866; 
	font-size: 18px; 
	font-weight: 700; 
	margin-bottom: 20px; 
}

#tooplate_footer a {
	color: #aa8866;
}

.footer_list { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.footer_list li { 
	margin: 0 0 5px; 
	padding: 0 0 3px; 
	border-bottom: 1px dotted #fff; 
}

.footer_list li a { 
	color: #fff; 
}

.twitter_post { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.twitter_post li { 
	margin: 0 0 10px; 
	padding: 0 0 7px; 
	border-bottom: 1px dotted #1d1a14; 
}

.footer_social_button { 
	clear: both; 
	margin-top: 20px; 
}

.footer_social_button a { 
	margin-right: 5px; 
}

#tooplate_cr_bar_wrapper {
	clear: both;
	width: 100%;
	height: 120px;
	background: #161616 url(../images/tooplate_footer.png) repeat-x; 
}

#tooplate_cr_bar {
	width: 962px;
	margin: 0 auto;
	padding: 80px 9px 0;
	color: #a097ae;
	text-align: center;
}

#tooplate_cr_bar a { 
	color: #b8b0c4; 
}

.no_margin_right { 
	margin-right: 0; 
}

.paging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.paging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.paging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}

.paging ul li a { 
	float: left; 
	display: block; 
	color: #333; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background-color: #f6f6f6; 
	border: 1px solid #fff; 
}

.paging ul li a:hover { 
	background: #d13535; 
	border: 1px solid #fff; 
	color: #fff;  
}

.slider {
	/* recommended styles for kwicks ul container */
	list-style: none;
	position: relative;
	width: 920px;
	height: 330px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slider li{
	/* these are required, but the values are up to you (must be pixel) */
	width: 183px;
	height: 330px;
	/*do not change these */
	display: block;
	overflow: hidden;
	padding: 0;  
	/* if you need padding, do so with an inner div (or implement your own box-model hack) */
}

.slider.horizontal li {
	/* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
	margin-right: 5px; /*Set to same as spacing option. */	
	float: left;
}

.slider.vertical  li{
	/* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
	margin-bottom: 5px; /*Set to same as spacing option. */	
}

#slide_1 { }
#slide_2 { }
#slide_3 { }
#slide_4 { }
#slide_5 { }

.slider.horizontal #slide_5 {
	margin-right: none; /* cancel margin on last kiwck (if you set a margin above) */
}

.slider.vertical #slide_5 {
	margin-bottom: none; /* cancel margin on last kiwck (if you set a margin above) */
}
