#ls{
background: url("background.jpg");
background-size: 100% auto;
}

div {
    font-family: Impact, Charcoal, sans-serif;
	color: blue;
	text-align: absolute;
	font-size: 27px;
}
legend{
color: red;
}

h2{
color: purple;
}

h4{
font-size:18px;
color:#999999;
text-shadow: 0px 0px 1px #000, 
             3px 3px 3px blue; 
 position:absolute;
 top: 1%; 
 left: 5%;
font-weight: normal;
}
#buy{
background: url("images/buy/buy.jpg");
background-size: 100% auto;
}
#moto{
background: url("images/buy/moto.jpg");
background-size: 100% auto;
}

#signupr{
position: absolute;
right: 450px;
top: 265px;
}
#signupl{
position: absolute;
left: 450px;
top: 265px;
}
#but{
position: center;
top: 1300px;
}
#helmets{
background: url("images/buy/helmets.jpg");
background-size: 100% auto;
}
#jacket{
background: url("images/buy/jacket.jpg");
background-size: 100% auto;
}
#boots{
background: url("images/buy/boots.jpg");
background-size: 100% auto;
}
#gloves{
background: url("images/buy/gloves.jpg");
background-size: 100% auto;
}
#trousers{
background: url("images/buy/trousers.jpg");
background-size: 100% auto;
}
#hoods{
background: url("images/buy/hoods.jpg");
background-size: 100% auto;
}
#snp{
text-align: center;
color: red;
}
#news{
text-align: center;
color: orange;
}
#prbk{
background: url("images/profile.jpg");
background-size: 100% auto;
}
#newss{
background: url("images/news.jpg");
background-size: 100% auto;
}
#contact{
background: url("images/contact.jpg");
background-size: 100% auto;
}
#admin{
background: url("images/admin.jpg");
background-size: 100% auto;
}
